*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mitr', sans-serif;
    

}
#container{
    background-image: url("mountain.jpg");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    
}

#bar{
    display: flex;  
    width: 100vw;
    height: 150px;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    
    
}
 #left-bar{
    display: flex;
    font-size: 40px;
 }
 #left-bar img{
    height: 50px;
    
    display: flex;
 }

#mid-bar{
    gap: 50px;
    display: flex;
    color: white;
    
}
body a{
    color: white;
}


 #right-bar{
    display: flex;
    gap: 25px;
    align-items: center;
    color: black;
 }

 #icons{
    background-color: white ;
    border-radius: 15px;
    padding:8px 15px ;
    
 }
    
   
#bar a{
    text-decoration: none;
    font-size: 20px;

}
 
 #search{
    
    padding: 5px;
    
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    
 }
 #search input{
    margin-top: 80px;
        
    border-radius: 50px;
    width: 50%;
    height: 60px;
    outline: none;
 }

 #main-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 200px;
    gap: 20px;
    padding-left: 4%;

 }
 #main-text h1{
    font-size: 40px;

 }
#main-text button{
    font-size: 15px;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    border-style: none;

}
#main-text button:hover{
    background-color: initial;
    color: white;
    outline: solid;
    font-size:20px
}