*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mitr', sans-serif;
    color: white;

}
#container{
    background-image: url("mountain.jpg");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#bar{
    display: flex;  
    width: 100vw;
    height: 150px;
    justify-content: space-around;
    align-items: center;
    gap: 50px;

}
 #left-bar{
    display: flex;
    font-size: 40px;
 }
 #left-bar img{
    height: 50px;
    
    display: flex;
 }

#mid-bar{
    gap: 50px;
    display: flex;
    
    
}



 #right-bar{
    display: flex;
    gap: 25px;
    align-items: center;
 }

 #icons{
    background-color: white ;
    border-radius: 15px;
    padding:8px 15px ;
    
 }
    
   
#bar a{
    text-decoration: none;
    font-size: 20px;

}
 
 #search{
    border: 3px solid white;
    padding: 5px;
    margin-left: 300px;
    margin-right: 300px;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 15px;
 }
 #search input{
    display: flex;
    align-items: center;
 }

 #main-text{
    

 }